# See http://help.github.com/ignore-files/ for more about ignoring files.

#Personal
package-lock.json
dist.tar.gz

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules
/Lab Exam/node_modules
/Lab Exam/Question 7/7b/public/angular
/Lab Exam/Question 11/11b/public/angular
/Lab Exam/Question 12/12b/public/angular

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

PDF Files
*.pdf

**/node_modules