List of Students
<ul class="students">
<% for (var i=0;i<students.length;i++) {%>
	<li class="students">
		<span><%= "ID: " +students[i].usn+"."%></span>
		<span><%= "Name : "+students[i].name+"."%></span>
	</li>
	<% } %>
</ul>